* {
    background-color: #f9f9f9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #4a4a4a;
    font-size: 2.5em;
    margin: 20px 0;
}

body {
    font-family: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #333;
}

label {
    font-size: 1.2em;
    color: #4a4a4a;
}

select, input {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease-in-out;
    display: block;
    width: calc(100% - 40px); /* Adjust width for padding */
    max-width: 300px;
    margin: 10px auto;
}

select:hover, input:hover {
    border-color: #888;
}

input {
    background-color: #6c63ff;
    color: #fff;
    font-weight: bold;
    border: none;
}

input:hover {
    background-color: #4a4a8a;
    color: #f0f0f0;
}

#container {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 20px;
}

#holder {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

#intro
{
    text-align: center;
    padding: 20px;
    font-size: 1em;
}

#submission 
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.imageQ
{
    width: 30%;
}


.answer {
    padding: 10px;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

.answer:hover {
    background-color: #333;
    color: #f0f0f0;
}

#time {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

#installButton {
    display: inline-block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #6c63ff;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#confet, #emof {
    height: 400px;
}

#installButton:hover {
    background-color: #4a4a8a;
}

@media only screen and (max-width: 675px) {
    h1 {
        font-size: 2em;
    }

    #holder {
        grid-template-areas:
            'left'
            'right';
        grid-template-columns: 1fr;
        gap: 10px;
    }

    #intro, #submission {
        font-size: 0.9em;
    }
    #confet, #emof {
        height: 240px;
    }
}

@media only screen and (max-width: 500px) {
    .imageQ
    {
        width: 60%;
    }
    #confet, #emof {
        height: 150px;
    }
}

@media only screen and (max-width: 450px) {
    #confet, #emof {
        height: 125px;
    }
}
